<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe facilis neque alias fuga atque ratione accusamus illum soluta molestiae? Voluptatem optio doloribus temporibus omnis quos voluptatum maxime impedit nemo, suscipit quod cupiditate nobis, obcaecati sed quaerat nostrum sint voluptates distinctio?</p>
    </div>
</div>