<div class="container-fluid text-sm p-5 bg-light">

    <h1 class="display-4">Notes App</h1>
    <p class="lead">Crea, elimina, y admistra tus notas</p>
    <hr class="my-4">
    <a href="romanbenites.com" class="btn btn-primary btn-lg">Roman Benitez</a>
</div>
