<div class="container-fluid text-sm p-5 bg-light">

    <h1 class="display-4">Notes App</h1>
    <p class="lead">Crea, elimina, y administra tus notas</p>
    <hr class="my-4">
    <p>Para poder realizar acceder a todas funciones, primero debes registrarte, y loguerte, una vez hecho dichos pasos podras comenzar a gestionar tus notas</p>
    <a href="romanbenites.com" class="btn btn-primary btn-lg">Roman Benitez</a>
</div>
